@{
    var items = (IEnumerable<SelectListItem>) ViewData["items"];
}
@{
    using(Html.BeginForm("","testing",FormMethod.Post))
    {
        <label>Chọn môn: </label>
        @Html.DropDownList("sub", items);
        <input type="submit" value="Load câu hỏi" />
    }
}

