<div class="bg-color-sky-light">
    <div class="content-md container">
        <!-- Heading v2 -->
        <div class="heading-v2 margin-b-80">
            <h2 class="heading-v2-title">Welcome to Ark</h2>
            <p class="heading-v2-text">Ark is all about details, sharp design and effortless style.</p>
        </div>
        <!-- End Heading v2 -->

        <div class="row space-row-10">
            <div class="col-md-4 md-margin-b-20">
                <!-- Services v1 -->
                <section class="services-v1">
                    <div class="margin-b-50">
                        <div class="services-v1-icon-wrap radius-circle">
                            <img class="services-v1-icon" src="~/Images/icons/04.png" alt="">
                        </div>
                        <span class="services-v1-subtitle color-base">Time to talk</span>
                        <h3 class="services-v1-title">For Desktop</h3>
                        <p class="services-v1-text">Tải về dùng trên desktop</p>
                    </div>
                    <a href="#" class="btn-base-bg btn-base-sm radius-3">Tải về</a>
                </section>
                <!-- End Services v1 -->
            </div>
            <div class="col-md-4 md-margin-b-20">
                <!-- Services v1 -->
                <section class="services-v1">
                    <div class="margin-b-50">
                        <div class="services-v1-icon-wrap radius-circle">
                            <img class="services-v1-icon" src="~/Images/icons/03.png" alt="">
                        </div>
                        <span class="services-v1-subtitle color-red">We expect excellence</span>
                        <h3 class="services-v1-title">Trải nghiệm trực tuyến</h3>
                        <p class="services-v1-text">Sử dụng mọi lúc mọi nơi :)</p>
                    </div>
                    <a href="/testing/index" class="btn-red-bg btn-base-sm radius-3">Thử ngay</a>
                </section>
                <!-- End Services v1 -->
            </div>
            <div class="col-md-4">
                <!-- Services v1 -->
                <section class="services-v1">
                    <div class="margin-b-50">
                        <div class="services-v1-icon-wrap radius-circle">
                            <img class="services-v1-icon" src="~/Images/icons/02.png" alt="">
                        </div>
                        <span class="services-v1-subtitle color-teal">Make for all devices</span>
                        <h3 class="services-v1-title">For Mobile</h3>
                        <p class="services-v1-text">Trải nghiệm ngay trên điện thoại của mình</p>
                    </div>
                    <a href="#" class="btn-teal-bg btn-base-sm radius-3">Tải về</a>
                </section>
                <!-- End Services v1 -->
            </div>
        </div>
        <!--// end row -->
    </div>
</div>
