
<div class="banner-img-v3 bg-position-fixed">
    <div class="content-sm container">
        <div class="row">
            <div class="col-sm-3 col-xs-6 xs-full-width sm-margin-b-50">
                <!-- Counters v4 -->
                <div class="counters-v4 wow fadeInUp" data-wow-duration=".2" data-wow-delay=".1s">
                    <i class="counters-v4-icon margin-b-20 icon-tools"></i>
                    <figure class="counter counters-v4-number">1530</figure>
                    <h4 class="counters-v4-title">Features</h4>
                </div>
                <!-- End Counters v4 -->
            </div>
            <div class="col-sm-3 col-xs-6 xs-full-width sm-margin-b-50">
                <!-- Counters v4 -->
                <div class="counters-v4 wow fadeInDown" data-wow-duration=".2" data-wow-delay=".1s">
                    <i class="counters-v4-icon margin-b-20 icon-layers"></i>
                    <figure class="counter counters-v4-number">1850</figure>
                    <h4 class="counters-v4-title">Theme Pages</h4>
                </div>
                <!-- End Counters v4 -->
            </div>
            <div class="col-sm-3 col-xs-6 xs-full-width xs-margin-b-50">
                <!-- Counters v4 -->
                <div class="counters-v4 wow fadeInUp" data-wow-duration=".2" data-wow-delay=".1s">
                    <i class="counters-v4-icon margin-b-20 icon-paintbrush"></i>
                    <figure class="counter counters-v4-number">1474</figure>
                    <h4 class="counters-v4-title">Colors Used</h4>
                </div>
                <!-- End Counters v4 -->
            </div>
            <div class="col-sm-3 col-xs-6 xs-full-width">
                <!-- Counters v4 -->
                <div class="counters-v4 wow fadeInDown" data-wow-duration=".2" data-wow-delay=".1s">
                    <i class="counters-v4-icon margin-b-20 icon-trophy"></i>
                    <figure class="counter counters-v4-number">1572</figure>
                    <h4 class="counters-v4-title">Award Won</h4>
                </div>
                <!-- End Counters v4 -->
            </div>
        </div>
        <!--// end row -->
    </div>
</div>
