@{
    ViewBag.Title = "Trang chủ";
}

<div class="grid isotope" style="position: relative; overflow: hidden; height: 2510px;">



    <div class="item isotope-item" style="width: 363px; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">

        <div id="post-30" class="post-30 post type-post status-publish format-standard hentry category-lifestyle tag-example-tag">

            <p class="grid-cat"><a href="http://www.marchettidesign.net/fullby/demo/?cat=4" title="View all posts in Lifestyle" rel="category">Lifestyle</a></p>

            <h2 class="grid-tit"><a href="http://www.marchettidesign.net/fullby/demo/?p=30">Video post without text</a></h2>

            <p class="meta">
                <i class="fa fa-clock-o"></i> 3 Jan , 2014 &nbsp;



                <i class="fa fa-video-camera"></i> Video



            </p>


            <a href="http://www.marchettidesign.net/fullby/demo/?p=30" class="link-video">
                <img src="http://img.youtube.com/vi/Hv_DRJZZ2qI/hqdefault.jpg" class="grid-cop" style="display: inline;">
                <i class="fa fa-play-circle fa-4x"></i>
            </a>


            <div class="grid-text">


            </div>

            <p>
                <span class="tag-post"> <i class="fa fa-tag"></i> <a href="http://www.marchettidesign.net/fullby/demo/?tag=example-tag" rel="tag">Example Tag</a> </span>
            </p>

        </div>

    </div>



    <div class="item isotope-item" style="width: 363px; position: absolute; left: 0px; top: 0px; transform: translate3d(373px, 0px, 0px);">

        <div id="post-18" class="post-18 post type-post status-publish format-standard hentry category-uncategorized">

            <p class="grid-cat"><a href="http://www.marchettidesign.net/fullby/demo/?cat=1" title="View all posts in What's New" rel="category">What's New</a></p>

            <h2 class="grid-tit"><a href="http://www.marchettidesign.net/fullby/demo/?p=18">Normal Post</a></h2>

            <p class="meta">
                <i class="fa fa-clock-o"></i> 3 Jan , 2014 &nbsp;





            </p>



            <a href="http://www.marchettidesign.net/fullby/demo/?p=18" class="link-video">
                <img width="300" height="199" src="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/redbull-rampage-300x199.jpg" class="grid-cop wp-post-image" alt="Red Bull Rampage Finals" style="display: inline;">
            </a>



            <div class="grid-text">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

            </div>

            <p>
            </p>

        </div>

    </div>



    <div class="item isotope-item" style="width: 363px; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 465px, 0px);">

        <div id="post-25" class="post-25 post type-post status-publish format-standard hentry category-news">

            <p class="grid-cat"><a href="http://www.marchettidesign.net/fullby/demo/?cat=5" title="View all posts in News" rel="category">News</a></p>

            <h2 class="grid-tit"><a href="http://www.marchettidesign.net/fullby/demo/?p=25">Video post with text</a></h2>

            <p class="meta">
                <i class="fa fa-clock-o"></i> 3 Jan , 2014 &nbsp;



                <i class="fa fa-video-camera"></i> Video



            </p>


            <a href="http://www.marchettidesign.net/fullby/demo/?p=25" class="link-video">
                <img src="http://img.youtube.com/vi/87milwA1nWI/hqdefault.jpg" class="grid-cop" style="display: inline;">
                <i class="fa fa-play-circle fa-4x"></i>
            </a>


            <div class="grid-text">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            </div>

            <p>
            </p>

        </div>

    </div>



    <div class="item isotope-item" style="width: 363px; position: absolute; left: 0px; top: 0px; transform: translate3d(373px, 528px, 0px);">

        <div id="post-10" class="post-10 post type-post status-publish format-standard hentry category-news">

            <p class="grid-cat"><a href="http://www.marchettidesign.net/fullby/demo/?cat=5" title="View all posts in News" rel="category">News</a></p>

            <h2 class="grid-tit"><a href="http://www.marchettidesign.net/fullby/demo/?p=10">Normal post with more tag</a></h2>

            <p class="meta">
                <i class="fa fa-clock-o"></i> 3 Jan , 2014 &nbsp;





            </p>



            <a href="http://www.marchettidesign.net/fullby/demo/?p=10" class="link-video">
                <img width="300" height="170" src="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/skate_header_image-300x170.jpg" class="grid-cop wp-post-image" alt="skate_header_image" style="display: inline;">
            </a>



            <div class="grid-text">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <a href="http://www.marchettidesign.net/fullby/demo/?p=10#more-10" class="more-link">More…</a></p>

            </div>

            <p>
            </p>

        </div>

    </div>



    <div class="item isotope-item" style="width: 363px; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 970px, 0px);">

        <div id="post-7" class="post-7 post type-post status-publish format-standard hentry category-lifestyle tag-example-tag">

            <p class="grid-cat"><a href="http://www.marchettidesign.net/fullby/demo/?cat=4" title="View all posts in Lifestyle" rel="category">Lifestyle</a></p>

            <h2 class="grid-tit"><a href="http://www.marchettidesign.net/fullby/demo/?p=7">Normal Post</a></h2>

            <p class="meta">
                <i class="fa fa-clock-o"></i> 3 Jan , 2014 &nbsp;





            </p>



            <a href="http://www.marchettidesign.net/fullby/demo/?p=7" class="link-video">
                <img width="300" height="300" src="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/2-300x300.jpg" class="grid-cop wp-post-image" alt="2" style="display: inline;">
            </a>



            <div class="grid-text">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

            </div>

            <p>
                <span class="tag-post"> <i class="fa fa-tag"></i> <a href="http://www.marchettidesign.net/fullby/demo/?tag=example-tag" rel="tag">Example Tag</a> </span>
            </p>

        </div>

    </div>



    <div class="item isotope-item" style="width: 363px; position: absolute; left: 0px; top: 0px; transform: translate3d(373px, 974px, 0px);">

        <div id="post-28" class="post-28 post type-post status-publish format-standard hentry category-news">

            <p class="grid-cat"><a href="http://www.marchettidesign.net/fullby/demo/?cat=5" title="View all posts in News" rel="category">News</a></p>

            <h2 class="grid-tit"><a href="http://www.marchettidesign.net/fullby/demo/?p=28">Gallery post</a></h2>

            <p class="meta">
                <i class="fa fa-clock-o"></i> 3 Jan , 2014 &nbsp;



                <i class="fa fa-th"></i> Gallery



            </p>


            <div class="grid-text">


                <style type="text/css">
                    #gallery-1 {
                        margin: auto;
                    }

                        #gallery-1 .gallery-item {
                            float: left;
                            margin-top: 10px;
                            text-align: center;
                            width: 33%;
                        }

                        #gallery-1 img {
                            border: 2px solid #cfcfcf;
                        }

                        #gallery-1 .gallery-caption {
                            margin-left: 0;
                        }
                    /* see gallery_shortcode() in wp-includes/media.php */
                </style>
                <div id="gallery-1" class="gallery galleryid-28 gallery-columns-3 gallery-size-thumbnail">
                    <dl class="gallery-item">
                        <dt class="gallery-icon landscape">
                            <a href="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/2.jpg"><img width="150" height="150" src="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/2-150x150.jpg" class="attachment-thumbnail" alt="2" style="display: inline;"></a>
                        </dt>
                    </dl><dl class="gallery-item">
                        <dt class="gallery-icon landscape">
                            <a href="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/graham-agassiz-at-red-bull-rampage.jpg"><img width="150" height="150" src="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/graham-agassiz-at-red-bull-rampage-150x150.jpg" class="attachment-thumbnail" alt="Graham Agassiz" style="display: inline;"></a>
                        </dt>
                    </dl><dl class="gallery-item">
                        <dt class="gallery-icon landscape">
                            <a href="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/943428_10151355595001082_1061735984_n.jpg"><img width="150" height="150" src="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/943428_10151355595001082_1061735984_n-150x150.jpg" class="attachment-thumbnail" alt="943428_10151355595001082_1061735984_n" style="display: inline;"></a>
                        </dt>
                    </dl><br style="clear: both"><dl class="gallery-item">
                        <dt class="gallery-icon landscape">
                            <a href="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/971377_10151355594456082_978282500_n.jpg"><img width="150" height="150" src="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/971377_10151355594456082_978282500_n-150x150.jpg" class="attachment-thumbnail" alt="971377_10151355594456082_978282500_n" style="display: inline;"></a>
                        </dt>
                    </dl><dl class="gallery-item">
                        <dt class="gallery-icon landscape">
                            <a href="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/1.png"><img width="150" height="150" src="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/1-150x150.png" class="attachment-thumbnail" alt="1" style="display: inline;"></a>
                        </dt>
                    </dl><dl class="gallery-item">
                        <dt class="gallery-icon landscape">
                            <a href="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/2.png"><img width="150" height="150" src="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/2-150x150.png" class="attachment-thumbnail" alt="2" style="display: inline;"></a>
                        </dt>
                    </dl><br style="clear: both">
                    <br style="clear: both;">
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            </div>

            <p>
            </p>

        </div>

    </div>



    <div class="item isotope-item" style="width: 363px; position: absolute; left: 0px; top: 0px; transform: translate3d(373px, 1440px, 0px);">

        <div id="post-46" class="post-46 post type-post status-publish format-standard hentry category-news tag-example-tag">

            <p class="grid-cat"><a href="http://www.marchettidesign.net/fullby/demo/?cat=5" title="View all posts in News" rel="category">News</a></p>

            <h2 class="grid-tit"><a href="http://www.marchettidesign.net/fullby/demo/?p=46">Image Post</a></h2>

            <p class="meta">
                <i class="fa fa-clock-o"></i> 2 Jan , 2014 &nbsp;





            </p>



            <a href="http://www.marchettidesign.net/fullby/demo/?p=46" class="link-video">
                <img width="300" height="200" src="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/travis-rice-art-of-flight-300x200.jpg" class="grid-cop wp-post-image" alt="travis-rice-art-of-flight" style="display: inline;">
            </a>



            <div class="grid-text">


            </div>

            <p>
                <span class="tag-post"> <i class="fa fa-tag"></i> <a href="http://www.marchettidesign.net/fullby/demo/?tag=example-tag" rel="tag">Example Tag</a> </span>
            </p>

        </div>

    </div>



    <div class="item isotope-item" style="width: 363px; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 1636px, 0px);">

        <div id="post-1" class="post-1 post type-post status-publish format-standard hentry category-uncategorized tag-example-tag">

            <p class="grid-cat"><a href="http://www.marchettidesign.net/fullby/demo/?cat=1" title="View all posts in What's New" rel="category">What's New</a></p>

            <h2 class="grid-tit"><a href="http://www.marchettidesign.net/fullby/demo/?p=1">Text post</a></h2>

            <p class="meta">
                <i class="fa fa-clock-o"></i> 2 Jan , 2014 &nbsp;





            </p>


            <div class="grid-text">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>&nbsp;</p>

            </div>

            <p>
                <span class="tag-post"> <i class="fa fa-tag"></i> <a href="http://www.marchettidesign.net/fullby/demo/?tag=example-tag" rel="tag">Example Tag</a> </span>
            </p>

        </div>

    </div>



    <div class="item isotope-item" style="width: 363px; position: absolute; left: 0px; top: 0px; transform: translate3d(373px, 1849px, 0px);">

        <div id="post-54" class="post-54 post type-post status-publish format-standard hentry category-news tag-example-tag">

            <p class="grid-cat"><a href="http://www.marchettidesign.net/fullby/demo/?cat=5" title="View all posts in News" rel="category">News</a></p>

            <h2 class="grid-tit"><a href="http://www.marchettidesign.net/fullby/demo/?p=54">Video Post</a></h2>

            <p class="meta">
                <i class="fa fa-clock-o"></i> 1 Jan , 2014 &nbsp;



                <i class="fa fa-video-camera"></i> Video



            </p>


            <a href="http://www.marchettidesign.net/fullby/demo/?p=54" class="link-video">
                <img src="http://img.youtube.com/vi/usi5iMoS-l0/hqdefault.jpg" class="grid-cop" style="display: inline;">
                <i class="fa fa-play-circle fa-4x"></i>
            </a>


            <div class="grid-text">


            </div>

            <p>
                <span class="tag-post"> <i class="fa fa-tag"></i> <a href="http://www.marchettidesign.net/fullby/demo/?tag=example-tag" rel="tag">Example Tag</a> </span>
            </p>

        </div>

    </div>



    <div class="item isotope-item" style="width: 363px; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 2150px, 0px);">

        <div id="post-56" class="post-56 post type-post status-publish format-standard hentry category-uncategorized">

            <p class="grid-cat"><a href="http://www.marchettidesign.net/fullby/demo/?cat=1" title="View all posts in What's New" rel="category">What's New</a></p>

            <h2 class="grid-tit"><a href="http://www.marchettidesign.net/fullby/demo/?p=56">Gallery Post</a></h2>

            <p class="meta">
                <i class="fa fa-clock-o"></i> 30 Dec , 2013 &nbsp;



                <i class="fa fa-th"></i> Gallery



            </p>


            <div class="grid-text">


                <style type="text/css">
                    #gallery-2 {
                        margin: auto;
                    }

                        #gallery-2 .gallery-item {
                            float: left;
                            margin-top: 10px;
                            text-align: center;
                            width: 33%;
                        }

                        #gallery-2 img {
                            border: 2px solid #cfcfcf;
                        }

                        #gallery-2 .gallery-caption {
                            margin-left: 0;
                        }
                    /* see gallery_shortcode() in wp-includes/media.php */
                </style>
                <div id="gallery-2" class="gallery galleryid-56 gallery-columns-3 gallery-size-thumbnail">
                    <dl class="gallery-item">
                        <dt class="gallery-icon landscape">
                            <a href="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/travis-rice-art-of-flight.jpg"><img width="150" height="150" src="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/travis-rice-art-of-flight-150x150.jpg" class="attachment-thumbnail" alt="travis-rice-art-of-flight" style="display: inline;"></a>
                        </dt>
                    </dl><dl class="gallery-item">
                        <dt class="gallery-icon landscape">
                            <a href="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/graham-agassiz-at-red-bull-rampage.jpg"><img width="150" height="150" src="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/graham-agassiz-at-red-bull-rampage-150x150.jpg" class="attachment-thumbnail" alt="Graham Agassiz" style="display: inline;"></a>
                        </dt>
                    </dl><dl class="gallery-item">
                        <dt class="gallery-icon landscape">
                            <a href="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/skate_header_image.jpg"><img width="150" height="150" src="http://www.marchettidesign.net/fullby/demo/wp-content/uploads/2014/01/skate_header_image-150x150.jpg" class="attachment-thumbnail" alt="skate_header_image" style="display: inline;"></a>
                        </dt>
                    </dl><br style="clear: both">
                    <br style="clear: both;">
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            </div>

            <p>
            </p>

        </div>

    </div>



</div>

<div class="pagination">

    <span class="page-numbers current">1</span>
    <a class="page-numbers" href="http://www.marchettidesign.net/fullby/demo/?paged=2">2</a>
    <a class="next page-numbers" href="http://www.marchettidesign.net/fullby/demo/?paged=2">Next »</a>
</div>


@section featured{
<div class="row featured">
    <div class="col-sm-4 col-md-4 item-featured">

        <a href="@Url.Action("Index","Desktop")">

            <div class="caption">

                <div class="cat"><span>Desktop</span></div>

                <div class="date-feat">
                    <i class="fa fa-clock-o"></i> 12 Tháng 3 , 2016 &nbsp;

                </div>

                <h2 class="title">Ứng dụng cho desktop</h2>

            </div>


            <img class="yt-featured" src="https://www.prasad-solutions.com/wp-content/uploads/2015/01/desktop_web_TV_app1.jpg" alt="Get for desktop">
        </a>

    </div>


    <div class="col-sm-4 col-md-4 item-featured">

        <a href="@Url.Action("Index","Testing")">

            <div class="caption">

                <div class="cat"><span>Trực tuyến</span></div>

                <div class="date-feat">
                    <i class="fa fa-clock-o"></i> 12 Tháng 3 , 2016 &nbsp;


                </div>

                <h2 class="title">Làm bài thử trực tuyến</h2>

            </div>


            <img width="400" height="400" src="http://iceo.vn/wp-content/uploads/2015/09/kinhdoanhonline.jpeg" class="quad wp-post-image" alt="Testing-Online">
        </a>

    </div>


    <div class="col-sm-4 col-md-4 item-featured">

        <a href="http://www.marchettidesign.net/fullby/demo/?p=35">

            <div class="caption">

                <div class="cat"><span>Di động</span></div>

                <div class="date-feat">
                    <i class="fa fa-clock-o"></i> 10 Jan , 2013 &nbsp;

                </div>

                <h2 class="title">Tải về cho di động</h2>

            </div>


            <img width="400" height="400" src="http://www.anshinfotech.org/demos/Home-05/android%20image.png" class="quad wp-post-image" alt="mobile">
        </a>

    </div>




    <div class="second-button-mobile"> <div class="widget-bar-button"> <i class="fa fa-angle-up fa-3x"></i> </div></div>

    <div class="widget-bar">

        <div class="container-widget" style="margin-left: 0px;">

            <div id="last1-2" class="box-widget widget_last1">
                <div class="box-widget-inside">
                    <p class="featured-item">Staff1</p>



                    <a href="http://www.marchettidesign.net/fullby/demo/?p=30">

                        <img src="http://img.youtube.com/vi/Hv_DRJZZ2qI/hqdefault.jpg" class="wg-quad">

                        <h2 class="title">Video post without text</h2>

                    </a>




                </div>
            </div>
            <div id="last3-2" class="box-widget widget_last3">
                <div class="box-widget-inside">
                    <p class="featured-item">Staff2</p>



                    <a href="http://www.marchettidesign.net/fullby/demo/?p=30">

                        <img src="http://img.youtube.com/vi/Hv_DRJZZ2qI/hqdefault.jpg" class="wg-quad">

                        <h2 class="title">Video post without text</h2>

                    </a>
                </div>
            </div>
            <div id="last3-2" class="box-widget widget_last3">
                <div class="box-widget-inside">
                    <p class="featured-item">Staff5</p>



                    <a href="http://www.marchettidesign.net/fullby/demo/?p=30">

                        <img src="http://img.youtube.com/vi/Hv_DRJZZ2qI/hqdefault.jpg" class="wg-quad">

                        <h2 class="title">Video post without text</h2>

                    </a>
                </div>
            </div>
            <div id="last3-2" class="box-widget widget_last3">
                <div class="box-widget-inside">
                    <p class="featured-item">Staff3</p>



                    <a href="http://www.marchettidesign.net/fullby/demo/?p=30">

                        <img src="http://img.youtube.com/vi/Hv_DRJZZ2qI/hqdefault.jpg" class="wg-quad">

                        <h2 class="title">Video post without text</h2>

                    </a>
                </div>
                
            </div>
            <div id="last3-2" class="box-widget widget_last3">
                <div class="box-widget-inside">
                    <p class="featured-item">Staff4</p>



                    <a href="http://www.marchettidesign.net/fullby/demo/?p=30">

                        <img src="http://img.youtube.com/vi/Hv_DRJZZ2qI/hqdefault.jpg" class="wg-quad">

                        <h2 class="title">Video post without text</h2>

                    </a>
                </div>
            </div>
        </div>

    </div><!--  end widget bar /-->
</div>
}
