@{
    ViewBag.Title = "Xác nhận email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Xác nhận email thành công. Vui lòng @Html.ActionLink("bấm vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
