@{
    ViewBag.Title = "Đăng nhập thất bại";
}
<div class="bg-color-sky-light">
    <div class="content-md container">
        <hgroup>
            <h2>@ViewBag.Title.</h2>
            <h3 class="text-danger">Đăng nhập thất bại.</h3>
        </hgroup>
    </div>
</div>