.img-news-thumb {
    height: 240px; 
    overflow: hidden; 
}
/* Font */
.heading-v1 .heading-v1-subtitle, .heading-v1 .heading-v1-title, .heading-v2 .heading-v2-text, .heading-v3 .heading-v3-text, .heading-v4 .heading-v4-subtitle {
    font-family: Roboto,sans-serif;
}
.services-v1 .services-v1-subtitle {
    font-family: Roboto,sans-serif;
}
.news-v1 .news-v1-heading .news-v1-heading-title > a {
    font-family: Roboto,sans-serif;
}
.breadcrumbs-v5 .breadcrumbs-v5-subtitle {
    font-family: Roboto,sans-serif;
}
.blog-classic .blog-classic-subtitle {
    font-family: Roboto,sans-serif;
}

.news-v1 .news-v1-quote {
    overflow:hidden;
}
.news-v1 .news-v1-lists .news-v1-lists-item:before {
    left: -20px;
}
.footer-v7 .footer-v7-info-text {
    font-family: Roboto,sans-serif;
}

@-webkit-keyframes hue  {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.btn-base-bg .btn-base-element-md {
    padding: 12px 13px;
}

.team-preview {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-size: cover; 
    background-position: 50%;
    margin-bottom: 10px;
}

