<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="QuizDbEntity" connectionString="metadata=res://*/Model.QuizModel.csdl|res://*/Model.QuizModel.ssdl|res://*/Model.QuizModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-M459MA6\SQLEXPRESS;initial catalog=QuizDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="metadata=res://*/Model.QuizDataModel.csdl|res://*/Model.QuizDataModel.ssdl|res://*/Model.QuizDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:quiz.database.windows.net,1433;Data Source=quiz.database.windows.net;Initial Catalog=QuizDB;Persist Security Info=False;User ID=quizone;Password=Cogang12!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Model.QuizDataModel.csdl|res://*/Model.QuizDataModel.ssdl|res://*/Model.QuizDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:quiz.database.windows.net,1433;Data Source=quiz.database.windows.net;Initial Catalog=QuizDB;Persist Security Info=False;User ID=quizone;Password=Cogang12!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="Lalalaprovider">
      <providers>
        <remove name="Lalalaprovider"/>
        <add name="Lalalaprovider" type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="Entities" enablePasswordRetrieval="false"
             enablePasswordReset="true" requiresQuestionAndAnswer="false"
             applicationName="AspNet" requiresUniqueEmail="false"
             passwordFormat="Hashed" maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="Lalalaprovider" cacheRolesInCookie="false" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="Lalalaprovider" type="System.Web.Security.SqlRoleProvider" applicationName="AspNet" connectionStringName="Entities"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>