<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://quizapp.somee.com/QuizUpdate/AutoupdateService.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="EntityFramework.dll" lastver="6.1.40302.0" size="5196496" />
    <LocalFile path="FlatTheme.dll" lastver="1.0.0.0" size="227328"/>
    <LocalFile path="Quiz.exe" lastver="1.0.0.0" size="4404204" />
    <LocalFile path="Quiz.exe.config" lastver="1.0.0.0" size="1792" />
    <LocalFile path="data.rar" lastver="1.0.0.0" size="0" />
  </UpdateFileList>
</Config>