<footer id="footer" class="footer-v7 footer-reveal">
    <div class="content-sm container">
        <div class="row">
            <div class="col-sm-7 sm-margin-b-20 footer-v5">
                <h2 class="footer-v5-title">Gửi ý kiến phản hồi cho chúng tôi</h2>
                <!-- Comment Form -->
                <form id="comment-form" class="comment-form-error" action="index.html" method="get">
                    <div class="row">
                        <div class="col-md-6 margin-b-30">
                            <input type="text" class="form-control footer-v5-form" name="name" placeholder="Họ tên" required>
                        </div>
                        <div class="col-md-6 margin-b-30">
                            <input type="email" class="form-control footer-v5-form" name="email" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="margin-b-40">
                        <textarea class="form-control footer-v5-form" rows="3" name="textarea" placeholder="Nội dung" required></textarea>
                    </div>
                    <div class="center-block">
                        <button type="submit" class="btn-white-brd btn-base-md radius-3">Gửi</button>
                    </div>
                </form>
                <!-- End Comment Form -->
            </div>
            <div class="col-sm-5 margin-t-50 text-right">
                <p class="footer-v7-info-text">Let's See our grand projects from the beginning.</p>
                <p class="footer-v7-text">&#169; 2016 QuizOne. All Rights Reserved.</p>
                <a class="footer-v7-link" href="#">Terms &amp; Conditions</a>
            </div>
        </div>
        <!--// end row -->
    </div>
</footer>