<footer id="footer" class="footer" style="padding:0px;">
    <div class="container">
        <ul class="list-inline footer-copyright">
            <li class="footer-copyright-item">Copyright &#169; 2016 QuizOne.</li>
        </ul>
    </div>
</footer>
