<footer id="footer" class="footer-v2 footer-reveal">
    <div class="content-md container">
        <div class="margin-b-20">
            <!-- Menu List -->
            <ul class="list-inline footer-v2-menu-list">
                <li class="footer-v2-menu-list-item"><a class="footer-v2-menu-list-link" href="~/">Trang chủ</a></li>
                <li class="footer-v2-menu-list-item"><a class="footer-v2-menu-list-link" href="#">Tin tức</a></li>
                <li class="footer-v2-menu-list-item"><a class="footer-v2-menu-list-link" href="~/home/cat/1?type=6">Đề thi</a></li>
                <li class="footer-v2-menu-list-item"><a class="footer-v2-menu-list-link" href="~/testing">Làm bài</a></li>
                <li class="footer-v2-menu-list-item"><a class="footer-v2-menu-list-link" href="#">Liên hệ</a></li>
            </ul>
            <!-- End Menu List -->
            <!-- Theme Icons Base On Hover -->
            <ul class="list-inline ul-li-lr-2 text-right sm-text-center margin-b-0">
                <li class="animate-theme-icons">
                    <a class="animate-theme-icons-body animate-theme-icons-white-bg theme-icons-md radius-3" href="https://www.facebook.com/Quizonepro-1621596394835268">
                        <i class="animate-theme-icons-element fa fa-facebook"></i>
                    </a>
                </li>
                <li class="animate-theme-icons" style="display:none;">
                    <a class="animate-theme-icons-body animate-theme-icons-white-bg theme-icons-md radius-3" href="#">
                        <i class="animate-theme-icons-element fa fa-twitter"></i>
                    </a>
                </li>
            </ul>
            <!-- End Theme Icons Base On Hover -->
        </div>

        <!-- Copyright -->
        <div class="footer-v2-copyright">
            <p class="footer-v2-text">QuizOne. &#169; 2016 All Rights Reserved.</p>
        </div>
        <!-- End Copyright -->
    </div>
</footer>