<footer id="footer" class="footer">
    <div class="container">
        <div class="row margin-b-50">
            <div class="col-sm-6 sm-margin-b-30">
                <!-- Address -->
                <div class="footer-address">
                    <h3 class="footer-title">Headquarter</h3>
                    <p class="footer-address-text">795 Folsom Ave, Suite 600, San Francisco, CA 94107</p>
                    <p class="footer-address-text">+123 456 7890</p>
                    <a class="footer-address-link" href="#">prothemes.net@gmail.com</a>
                </div>
                <!-- Address -->
            </div>
            <div class="col-sm-6">
                <!-- Testimonials -->
                <div class="footer-testimonials">
                    <div class="footer-testimonials-quote">
                        <p>Ark is the most amazing premium template with powerful customization settings and ultra fully responsive template with modern and smart design.</p>
                    </div>
                    <span class="footer-testimonials-author">&#8212; Kenny Johnson</span>
                </div>
                <!-- End Testimonials -->
            </div>
        </div>
        <!-- end row -->

        <div class="row margin-b-50">
            <div class="col-md-3 col-sm-6 col-xs-6 xs-full-width md-margin-b-50">
                <h3 class="footer-title">Information</h3>
                <!-- News List -->
                <ul class="list-unstyled footer-news-list">
                    <li class="footer-news-list-item">
                        <i class="footer-news-list-icon fa fa-angle-right"></i>
                        <a class="footer-news-list-link" href="#">How you can impact your customers</a>
                    </li>
                    <li class="footer-news-list-item">
                        <i class="footer-news-list-icon fa fa-angle-right"></i>
                        <a class="footer-news-list-link" href="#">24/7 Support</a>
                    </li>
                    <li class="footer-news-list-item">
                        <i class="footer-news-list-icon fa fa-angle-right"></i>
                        <a class="footer-news-list-link" href="#">Is your website user friendly?</a>
                    </li>
                    <li class="footer-news-list-item">
                        <i class="footer-news-list-icon fa fa-angle-right"></i>
                        <a class="footer-news-list-link" href="#">Astonishing Eelements</a>
                    <li class="footer-news-list-item">
                        <i class="footer-news-list-icon fa fa-angle-right"></i>
                        <a class="footer-news-list-link" href="#">Why our customers love Ark?</a>
                    </li>
                    <li class="footer-news-list-item">
                        <i class="footer-news-list-icon fa fa-angle-right"></i>
                        <a class="footer-news-list-link" href="#">What we do is all about passion</a>
                    </li>
                    <li class="footer-news-list-item">
                        <i class="footer-news-list-icon fa fa-angle-right"></i>
                        <a class="footer-news-list-link" href="#">Mobile ready</a>
                    </li>
                    <li class="footer-news-list-item">
                        <i class="footer-news-list-icon fa fa-angle-right"></i>
                        <a class="footer-news-list-link" href="#">Ark offers weekly stunning designs.</a>
                    </li>
                </ul>
                <!-- End News List -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 xs-full-width md-margin-b-50">
                <h3 class="footer-title">Latest news</h3>
                <!-- News Media -->
                <ul class="list-unstyled footer-media">
                    <li class="footer-media-item">
                        <div class="footer-media-poster">
                            <img class="footer-media-img radius-circle" src="~/Images/250x250/09.jpg" alt="">
                        </div>
                        <div class="footer-media-info">
                            <a class="footer-media-link" href="#">
                                Smart and beautiful design
                            </a>
                            <small class="footer-media-date">Aug 25, 2016</small>
                        </div>
                    </li>
                    <li class="footer-media-item">
                        <div class="footer-media-poster">
                            <img class="footer-media-img radius-circle" src="~/Images/250x250/08.jpg" alt="">
                        </div>
                        <div class="footer-media-info">
                            <a class="footer-media-link" href="#">
                                Royal pictures
                            </a>
                            <small class="footer-media-date">Aug 25, 2016</small>
                        </div>
                    </li>
                    <li class="footer-media-item">
                        <div class="footer-media-poster">
                            <img class="footer-media-img radius-circle" src="~/Images/250x250/07.jpg" alt="">
                        </div>
                        <div class="footer-media-info">
                            <a class="footer-media-link" href="#">
                                Unlimited elements to get started
                            </a>
                            <small class="footer-media-date">Aug 25, 2016</small>
                        </div>
                    </li>
                    <li class="footer-media-item">
                        <div class="footer-media-poster">
                            <img class="footer-media-img radius-circle" src="~/Images/250x250/11.jpg" alt="">
                        </div>
                        <div class="footer-media-info">
                            <a class="footer-media-link" href="#">
                                Latest trends and much more...
                            </a>
                            <small class="footer-media-date">Aug 25, 2016</small>
                        </div>
                    </li>
                </ul>
                <!-- End News Media -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 xs-full-width xs-margin-b-50">
                <h3 class="footer-title">Tags</h3>
                <!-- Tags -->
                <ul class="list-inline footer-tags margin-b-30">
                    <li><a class="radius-50" href="#">envato</a></li>
                    <li><a class="radius-50" href="#">featured</a></li>
                    <li><a class="radius-50" href="#">material</a></li>
                    <li><a class="radius-50" href="#">fashion</a></li>
                    <li><a class="radius-50" href="#">themeforest</a></li>
                    <li><a class="radius-50" href="#">css3</a></li>
                </ul>
                <!-- End Tags -->

                <h3 class="footer-title">Support</h3>
                <!-- News List -->
                <ul class="list-unstyled footer-news-list">
                    <li class="footer-news-list-item">
                        <i class="footer-news-list-icon fa fa-angle-right"></i>
                        <a class="footer-news-list-link" href="#">FAQ</a>
                    </li>
                    <li class="footer-news-list-item">
                        <i class="footer-news-list-icon fa fa-angle-right"></i>
                        <a class="footer-news-list-link" href="#">Forum</a>
                    </li>
                    <li class="footer-news-list-item">
                        <i class="footer-news-list-icon fa fa-angle-right"></i>
                        <a class="footer-news-list-link" href="#">Support</a>
                    </li>
                </ul>
                <!-- End News List -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 xs-full-width">
                <!-- Video -->
                <h3 class="footer-title">Video Blog</h3>
                <div class="footer-video">
                    <img class="img-responsive" src="~/Images/970x600/01.jpg" alt="">
                    <div class="footer-video-player">
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=J7ArPgBRR94" title="Better">
                            <img src="~/Images/widgets/video-play.png" alt="" width="35" height="35">
                        </a>
                    </div>
                </div>
                <h4 class="footer-video-title">
                    <a class="footer-video-title-link" href="blog_single_post_video.html">Better - it's a powerful word and powerful idea.</a>
                </h4>
                <!-- End Video -->
            </div>
        </div>
        <!--// end row -->
        <!-- Copyright -->
        <ul class="list-inline footer-copyright">
            <li class="footer-copyright-item">Copyright &#169; 2016 Prothemes. All Rights Reserved.</li>
            <li class="footer-copyright-item"><a href="#">Terms &amp; Conditions</a></li>
            <li class="footer-copyright-item"><a href="#">Privacy &amp; Policy</a></li>
            <li class="footer-copyright-item-toggle-trigger"><a class="footer-toggle-trigger footer-toggle-trigger-style" href="javascript:void(0);">View Branches</a></li>
        </ul>
        <!-- End Copyright -->
        <!-- Collapse -->
        <div class="footer-toggle-collapse footer-toggle">
            <div class="row">
                <div class="col-sm-4 sm-margin-b-50">
                    <h4 class="footer-toggle-title">United States</h4>
                    <p class="footer-toggle-text">1600 Amphitheatre Parkway, Mountain View, CA 94043</p>
                    <p class="footer-toggle-text">Phone: +1 650-253-0000</p>
                    <a class="footer-toggle-link" href="#">Email: us.prothemes.net@gmail.com</a>
                </div>
                <div class="col-sm-4 sm-margin-b-50">
                    <h4 class="footer-toggle-title">Canada</h4>
                    <p class="footer-toggle-text">1253 McGill College Montreal, Quebec, H3B 2Y5</p>
                    <p class="footer-toggle-text">Phone: +1 514-670-8700</p>
                    <a class="footer-toggle-link" href="#">Email: canada.prothemes.net@gmail.com</a>
                </div>
                <div class="col-sm-4">
                    <h4 class="footer-toggle-title">Australia</h4>
                    <p class="footer-toggle-text">Level 5, 48 Pirrama Road, Pyrmont, NSW 2009</p>
                    <p class="footer-toggle-text">Phone: +61 2 9374 4000</p>
                    <a class="footer-toggle-link" href="#">Email: australia.prothemes.net@gmail.com</a>
                </div>
            </div>
            <!--// end row -->
        </div>
        <!-- End Collapse -->
    </div>
</footer>
