@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-nav-right">
            <li class="nav-item nav-item-bg form-modal-nav radius-3">
                @Html.ActionLink("Chào " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-item-child form-modal-login radius-3" })
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-item-child form-modal-login radius-3">Đăng xuất</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-nav-right">
        <li class="nav-item nav-item-bg form-modal-nav radius-3">
            @Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-item-child form-modal-login radius-3" })
        </li>
        <li>
            @Html.ActionLink("Đăng kí", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-item-child form-modal-login radius-3" })

        </li>
    </ul>

}
