<div class="sidebar-nav scrollbar">
    <a class="sidebar-trigger sidebar-nav-trigger" href="javascript:void(0);">
        <span class="sidebar-trigger-icon"></span>
    </a>
    <div class="sidebar-nav-content">
        <h3 class="sidebar-nav-title">Giữ liên lạc</h3>
        <p class="sidebar-nav-about-text"><span class="fweight-400">Chúng tôi:</span> IT-K12</p>
        <p class="sidebar-nav-about-text"><span class="fweight-400">Số điện thoại:</span> +123 456 7890</p>
        <p class="sidebar-nav-about-text margin-b-40"><span class="fweight-400">Email:</span> <a class="sidebar-nav-about-link" href="#">quizone@outlook.com</a></p>
    </div>
</div>
