<div class="sidebar-nav scrollbar">
    <a class="sidebar-trigger sidebar-nav-trigger" href="javascript:void(0);">
        <span class="sidebar-trigger-icon"></span>
    </a>
    <div class="sidebar-nav-content">
        <h3 class="sidebar-nav-title">Get In Touch</h3>
        <p class="sidebar-nav-about-text"><span class="fweight-400">Address:</span> 795 Folsom Ave, Suite 600, San Francisco, CA 94107</p>
        <p class="sidebar-nav-about-text"><span class="fweight-400">Phone:</span> +123 456 7890</p>
        <p class="sidebar-nav-about-text margin-b-40"><span class="fweight-400">Email:</span> <a class="sidebar-nav-about-link" href="#">prothemes.net@gmail.com</a></p>
        <input type="text" class="form-control sidebar-nav-comment-input margin-b-10 radius-3" placeholder="Your Name">
        <input type="email" class="form-control sidebar-nav-comment-input margin-b-10 radius-3" placeholder="Your e-Mail">
        <textarea class="form-control sidebar-nav-comment-input margin-b-30 radius-3" rows="3" placeholder="Your message"></textarea>
        <button type="button" class="btn-white-brd btn-base-sm radius-3">Submit</button>
    </div>
</div>
