@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Khóa";
}

<hgroup>
    <h1 class="text-danger">Tài khoản hiện tại bị khóa!</h1>
    <h2 class="text-danger">Tài khoản này hiện tại đang bị khóa, vui lòng thử lại sau.</h2>
</hgroup>
